.box-movies-detail {
  position: relative;
  top: 8vh;
  height: 90vh;
  width: 80vw;
}

.bg-briefly {
  background-color: rgba(59, 57, 57, 0.6);
}

.bg-wg {
  background-color: rgb(224, 228, 230);
}
